* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* layout generale */
body {
    background-color: black;
}
header {
    height: 35px;
    text-align: right;
}

main {
    height: calc(100vh - 35px - 70px);
    background-color: blue;
}

footer{
    height: 70px;
    background-color: green;
}

/** selettori header **/
button  {
    color: white;
    background: rgb(59,59,59);
    background: linear-gradient(180deg, rgba(59,59,59,1) 0%, rgba(51,51,51,1) 50%, rgba(59,59,59,1) 100%);
    border:0;
    padding: 5px;
    border-radius: 5px;
    margin-right: 8px;
    margin-top: 5px;
}
